In [10]:
import pandas as pd

In [25]:
columns_map = {}

pro_data = pd.read_csv("C:\\Users\\1234\\Desktop\\prototype_final_csv.csv")

for key, value in zip(pro_data.columns, pro_data.iloc[1].tolist()):
    columns_map[key] = value

del columns_map['Unnamed: 49']
columns_map

{'0COMP_CODE': 'company_code',
 '0DOC_NUMBER': 'doc_No',
 '0PLANT': 'plant',
 '0SHIP_POINT': 'ship_point',
 '0STOR_LOC': 'store_location',
 '0S_ORD_ITEM': 'sales_order_item',
 '0DOC_CATEG': 'doc_category',
 '0DOC_TYPE': 'doc_type',
 '0BILLTOPRTY': 'bill_to_party',
 '0BP_GRP': 'fully null',
 '0PAYER': 'payer',
 '0SHIP_TO': 'ship_to',
 '0SOLD_TO': 'sold_to',
 '0MAT_SALES': 'mat_sales',
 '0VERSION': 'fully null',
 '0DISTR_CHAN': 'distribution_channel',
 '0DIVISION': 'division',
 '0SALESORG': 'sale_organization',
 '0BILL_CAT': 'bill_category',
 '0BILL_TYPE': 'bill_type',
 '0ITEM_CATEG': 'item_category',
 'Account Assignment Group': 'account_assignment_group',
 '0AB_FKSTO': 'cancelled',
 '0BPO_STAT': 'bpo_stat',
 '0BILL_ITEM': 'bill_item',
 '0CREATEDON': 'creation_date',
 '0PRICE_DATE': 'price_date',
 'ZFA_CYEAR': 'jalali_year',
 'ZFA_DAY': 'jalali_date',
 'ZFA_MONTH': 'jalali_month',
 'ZFA_WEEK': 'jalali_week_year',
 'ZFA_YEARM': 'jalali_month_year',
 '0BILL_NUM': 'bill_No',
 '0CALDAY': 'cal_date',
 '0CALMONTH': 'cal_month',
 '0CALMONTH2': nan,
 '0CALWEEK': 'cal_week_year',
 '0CALYEAR': 'cal_year',
 '0FISCPER': 'not important',
 '0FISCVARNT': 'not important',
 '0FISCYEAR': nan,
 '0BASE_UOM': 'base_unit',
 '0DOC_CURRCY': 'doc_currency',
 '0SALES_UNIT': 'sale_unit',
 '0BILL_QTY': 'bill_quantity',
 '0EXCHG_RATE': 'exchange_rate',
 ' 0TAX_AMOUNT ': 'tax',
 ' ZSUBTOT5 ': 'subtot5',
 ' ZSUBTOT6 ': 'subtot6'}

In [37]:
data = pd.read_csv("C:\\Users\\1234\\Desktop\\academy_date_parsed.csv")
for key, value in columns_map.items():
    data[value] = data[key]
    del data[key]
    
data.head()

,Unnamed: 0,company_code,doc_No,plant,ship_point,store_location,sales_order_item,doc_category,doc_type,bill_to_party,...,cal_year,not important,base_unit,doc_currency,sale_unit,bill_quantity,exchange_rate,tax,subtot5,subtot6
0,0,1100,4.051014e+09,1100,1200.0,NaN,10,M,ZCS,14000005,...,2022,Z4,PC,IRR,PC,62.0,1.0,"6,825.69","7,584,097.78",-
1,1,1100,4.051007e+09,1100,1200.0,PCP1,20,M,ZST,13000466,...,2021,Z4,PC,IRR,PC,13000.0,1.0,"289,220.18","331,294,597.22","(9,938,837.78)"
2,2,1100,4.051014e+09,1100,1200.0,PCP1,20,M,ZST,13001134,...,2022,Z4,PC,IRR,PC,10000.0,1.0,"222,477.07","254,841,997.78","(7,645,260.00)"
3,3,1100,9.951016e+09,1100,1200.0,PCP1,20,M,ZST,13001197,...,2020,Z4,PC,IRR,PC,56000.0,1.0,"1,245,871.56","1,427,115,188.33","(42,813,455.56)"
4,4,1100,9.951014e+09,1100,1200.0,PCP1,20,M,ZST,13000210,...,2020,Z4,PC,IRR,PC,33000.0,1.0,"734,174.31","840,978,593.33","(25,229,357.78)"

In [39]:
to_be_deleted_columns = ['fully null', 'jalali_year', 'jalali_month', 'jalali_week_year', 'jalali_month_year', 'cal_month', 'cal_week_year', 'cal_year', 'not important']
for c in to_be_deleted_columns:
    del data[c]

KeyError: 'fully null'

In [40]:
import numpy as np
del data[np.nan]
data.head()

,Unnamed: 0,company_code,doc_No,plant,ship_point,store_location,sales_order_item,doc_category,doc_type,bill_to_party,...,bill_No,cal_date,base_unit,doc_currency,sale_unit,bill_quantity,exchange_rate,tax,subtot5,subtot6
0,0,1100,4.051014e+09,1100,1200.0,NaN,10,M,ZCS,14000005,...,4065001389,20220105,PC,IRR,PC,62.0,1.0,"6,825.69","7,584,097.78",-
1,1,1100,4.051007e+09,1100,1200.0,PCP1,20,M,ZST,13000466,...,4091003940,20210829,PC,IRR,PC,13000.0,1.0,"289,220.18","331,294,597.22","(9,938,837.78)"
2,2,1100,4.051014e+09,1100,1200.0,PCP1,20,M,ZST,13001134,...,4091007143,20220101,PC,IRR,PC,10000.0,1.0,"222,477.07","254,841,997.78","(7,645,260.00)"
3,3,1100,9.951016e+09,1100,1200.0,PCP1,20,M,ZST,13001197,...,9991009062,20201214,PC,IRR,PC,56000.0,1.0,"1,245,871.56","1,427,115,188.33","(42,813,455.56)"
4,4,1100,9.951014e+09,1100,1200.0,PCP1,20,M,ZST,13000210,...,9991008003,20201111,PC,IRR,PC,33000.0,1.0,"734,174.31","840,978,593.33","(25,229,357.78)"

In [42]:
data.to_csv('C:\\Users\\1234\\Desktop\\academy_reimagined.csv')